apiVersion: apps/v1
kind: Deployment
metadata:
  name: polizas-frontend
  labels:
    app: polizas-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: polizas-frontend
  template:
    metadata:
      labels:
        app: polizas-frontend
    spec:
      containers:
      - name: frontend
        image: polizas-frontend:v1
        imagePullPolicy: Never
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "200m"

---
apiVersion: v1
kind: Service
metadata:
  name: polizas-frontend
spec:
  selector:
    app: polizas-frontend
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080
  type: NodePort
