apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql8
  labels:
    app: mysql8
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql8
  template:
    metadata:
      labels:
        app: mysql8
    spec:
      containers:
      - name: mysql
        image: mysql:8.0
        ports:
        - containerPort: 3306
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: "root123"
        - name: MYSQL_DATABASE
          value: "polizas_db"
        - name: MYSQL_USER
          value: "polizas_user"
        - name: MYSQL_PASSWORD
          value: "polizas123"
        volumeMounts:
        - name: data-mysql
          mountPath: /var/lib/mysql
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
      volumes:
      - name: data-mysql
        hostPath:
          path: /var/lib/mysql
          type: DirectoryOrCreate

---
apiVersion: v1
kind: Service
metadata:
  name: mysql8
spec:
  selector:
    app: mysql8
  ports:
  - port: 3306
    targetPort: 3306
  type: ClusterIP
